.ipynb_checkpoints
__pycache__
*interactive*
test/data/egf.out.fasta
learnMSA/protein_language_models/esm2/
learnMSA/protein_language_models/protT5_model/
learnMSA/protein_language_models/proteinBERT_model/
build/
dist/
clustering/
learnMSA.egg-info/