.ipynb_checkpoints
__pycache__
*interactive*
test/data/egf.out.fasta
learnMSA/protein_language_models/esm2/
learnMSA/protein_language_models/protT5_model/
learnMSA/protein_language_models/proteinBERT_model/
learnMSA/protein_language_models/proteinBERT_model/*prior*
learnMSA/protein_language_models/proteinBERT_model/*scoring_model*
learnMSA/protein_language_models/pretraining/*_outputs
learnMSA/protein_language_models/pretraining/logs
learnMSA/protein_language_models/pretraining/.snakemake
learnMSA/protein_language_models/pretraining/results/*rows
build/
dist/
clustering/
learnMSA.egg-info/
tmp/
test/data/test_model.zip
.vscode/
logo/frames/